# Lab Assignment 5: Web Scraping
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

For the following problems, you will be scraping http://books.toscrape.com/. This website is a fake book retailer, designed to mimic the design of many retail websites. It exists solely to help students practice web-scraping, so there aren’t going to be any ethical concerns with this particular exercise, and there shouldn’t be any issues with rate limits or other gates that could prevent web-scraping. Take a moment and look at this website, so that you know what you will be working with.

Your goal is to generate a dataframe with four columns: one for the title, one for the price, one for the star-rating, and one or the book cover JPEG’s URL. The dataframe will also 1000 rows, one for each of the 1000 books listed on the 50 pages of this website.

## Problem 0
Import the following libraries:

In [44]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import sys
import json
sys.tracebacklimit = 0 # turn off the error tracebacks

## Problem 1
Pull the HTML code from http://books.toscrape.com/. Make sure you provide a user agent string. Then parse this HTML code and save the parsed code as a separate Python variable. [3 points]

In [46]:

r = requests.get('https://httpbin.org/user-agent')
useragent = json.loads(r.text)['user-agent']
headers = {'User-Agent': useragent,
            'From': 'urn8he@virginia.edu'}
print(useragent, headers)

python-requests/2.32.2 {'User-Agent': 'python-requests/2.32.2', 'From': 'urn8he@virginia.edu'}

In [47]:
url = 'http://books.toscrape.com'
r = requests.get(url, headers=headers)
r

In [48]:
#r.text.strip()

In [49]:
mysoup = BeautifulSoup(r.text, 'html.parser')

### Problem 2
Extract all 20 of the book titles and save them in a list. [2 points]

In [51]:
book_titles = [a['title'] for a in mysoup.find_all('a', attrs={'title': True})]
book_titles

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

### Problem 3
Extract the price of each of the 20 books and save these prices in a list. (The prices are listed in British pounds, and include the £ symbol. Remove the £ symbols: if you’ve saved the prices in a list named `prices`, then the following code should work: `prices = [s.replace('Â£', '') for s in prices]`.) [2 points]

In [53]:
price = mysoup.find_all('p', class_='price_color')
prices = [price.get_text() for price in price]
prices

['Â£51.77',
 'Â£53.74',
 'Â£50.10',
 'Â£47.82',
 'Â£54.23',
 'Â£22.65',
 'Â£33.34',
 'Â£17.93',
 'Â£22.60',
 'Â£52.15',
 'Â£13.99',
 'Â£20.66',
 'Â£17.46',
 'Â£52.29',
 'Â£35.02',
 'Â£57.25',
 'Â£23.88',
 'Â£37.59',
 'Â£51.33',
 'Â£45.17']

In [54]:
prices = [s.replace('Â£', '') for s in prices]
prices

['51.77',
 '53.74',
 '50.10',
 '47.82',
 '54.23',
 '22.65',
 '33.34',
 '17.93',
 '22.60',
 '52.15',
 '13.99',
 '20.66',
 '17.46',
 '52.29',
 '35.02',
 '57.25',
 '23.88',
 '37.59',
 '51.33',
 '45.17']

## Problem 4
Extract the star level ratings for the 20 books. [Hint: for tags such as `<p class="star-rating One">` in which the class has a space, the class is actually a list in which the first item in the list is `"star-rating"` and the second item in the list is `"One"`. It's possible to search on either item in this list.] [3 points]

In [56]:
star_rating = [book['class'][1] for book in mysoup.find_all('p', class_='star-rating')[:20]]
star_rating

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

## Problem 5
Extract the URLs for the JPEG thumbnail images that show the covers of the 20 books. (Maybe we want to mine the images to build models that predict the star level, literally judging books by their covers.) [2 points]

In [58]:
cover_images = mysoup.find_all('img', class_='thumbnail')[:20]
cover_urls = [img['src'] for img in cover_images]

## Problem 6
Create a dataframe with one row for each of the 20 books, and the book titles, prices, star ratings, and cover JPEG URLs as the four columns. [2 points]

In [60]:
books_df = pd.DataFrame({'Title': book_titles, 'Price': prices, 'Rating': star_rating, 'Cover JPEG URL': cover_urls})
books_df

,Title,Price,Rating,Cover JPEG URL
0,A Light in the Attic,51.77,Three,media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...
1,Tipping the Velvet,53.74,One,media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...
2,Soumission,50.10,One,media/cache/3e/ef/3eef99c9d9adef34639f51066202...
3,Sharp Objects,47.82,Four,media/cache/32/51/3251cf3a3412f53f339e42cac213...
4,Sapiens: A Brief History of Humankind,54.23,Five,media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...
5,The Requiem Red,22.65,One,media/cache/68/33/68339b4c9bc034267e1da611ab3b...
6,The Dirty Little Secrets of Getting Your Dream...,33.34,Four,media/cache/92/27/92274a95b7c251fea59a2b8a7827...
7,The Coming Woman: A Novel Based on the Life of...,17.93,Three,media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78...
8,The Boys in the Boat: Nine Americans and Their...,22.60,Four,media/cache/66/88/66883b91f6804b2323c8369331cb...
9,The Black Maria,52.15,One,media/cache/58/46/5846057e28022268153beff6d352...
10,"Starving Hearts (Triangular Trade Trilogy, #1)",13.99,Two,media/cache/be/f4/bef44da28c98f905a3ebec0b87be...
11,Shakespeare's Sonnets,20.66,Four,media/cache/10/48/1048f63d3b5061cd2f424d20b3f9...
12,Set Me Free,17.46,Five,media/cache/5b/88/5b88c52633f53cacf162c15f4f82...
13,Scott Pilgrim's Precious Little Life (Scott Pi...,52.29,Five,media/cache/94/b1/94b1b8b244bce9677c2f29ccc890...
14,Rip it Up and Start Again,35.02,Five,media/cache/81/c4/81c4a973364e17d01f217e118825...
15,Our Band Could Be Your Life: Scenes from the A...,57.25,Three,media/cache/54/60/54607fe8945897cdcced0044103b...
16,Olio,23.88,One,media/cache/55/33/553310a7162dfbc2c6d19a84da0d...
17,Mesaerion: The Best Science Fiction Stories 18...,37.59,One,media/cache/09/a3/09a3aef48557576e1a85ba7efea8...
18,Libertarianism for Beginners,51.33,Two,media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736...
19,It's Only the Himalayas,45.17,Two,media/cache/27/a5/27a53d0bb95bdd88288eaf66c923...

## Problem 7
Create a function that takes the URL of the webpage to scrape as an input, applies the code you wrote for questions 1 through 6, and generates the dataframe from question 6 as the output. [3 points]

In [62]:
def scrape_book_info(url):
    """ Scrape the http://books.toscrape.com website and extract information about the books."""
    
    response = requests.get(url, headers=headers)
    
    soup = BeautifulSoup(response.content, 'html.parser')
    
    book_titles = [a['title'] for a in soup.find_all('a', attrs={'title': True})][:20]
    
    price_colors = soup.find_all('p', class_='price_color')[:20]
    prices = [price.get_text() for price in price_colors]
    
    star_rating_elements = soup.find_all('p', class_='star-rating')[:20]
    star_ratings = [element['class'][1] for element in star_rating_elements]
    
    cover_images = soup.find_all('img', class_='thumbnail')[:20]
    cover_urls = [img['src'] for img in cover_images]
    
    info_books = {
        'Title': book_titles,
        'Price': prices,
        'Star Rating': star_ratings,
        'Cover Image URL': cover_urls
    }
    
    info_books_df = pd.DataFrame(info_books)
    return info_books_df

url = 'http://books.toscrape.com/catalogue/page-1.html'  # Replace with your actual URL
books_df = scrape_book_info(url)

In [63]:
books_df

,Title,Price,Star Rating,Cover Image URL
0,A Light in the Attic,£51.77,Three,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...
1,Tipping the Velvet,£53.74,One,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...
2,Soumission,£50.10,One,../media/cache/3e/ef/3eef99c9d9adef34639f51066...
3,Sharp Objects,£47.82,Four,../media/cache/32/51/3251cf3a3412f53f339e42cac...
4,Sapiens: A Brief History of Humankind,£54.23,Five,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...
5,The Requiem Red,£22.65,One,../media/cache/68/33/68339b4c9bc034267e1da611a...
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,Four,../media/cache/92/27/92274a95b7c251fea59a2b8a7...
7,The Coming Woman: A Novel Based on the Life of...,£17.93,Three,../media/cache/3d/54/3d54940e57e662c4dd1f3ff00...
8,The Boys in the Boat: Nine Americans and Their...,£22.60,Four,../media/cache/66/88/66883b91f6804b2323c836933...
9,The Black Maria,£52.15,One,../media/cache/58/46/5846057e28022268153beff6d...
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,Two,../media/cache/be/f4/bef44da28c98f905a3ebec0b8...
11,Shakespeare's Sonnets,£20.66,Four,../media/cache/10/48/1048f63d3b5061cd2f424d20b...
12,Set Me Free,£17.46,Five,../media/cache/5b/88/5b88c52633f53cacf162c15f4...
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,Five,../media/cache/94/b1/94b1b8b244bce9677c2f29ccc...
14,Rip it Up and Start Again,£35.02,Five,../media/cache/81/c4/81c4a973364e17d01f217e118...
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,Three,../media/cache/54/60/54607fe8945897cdcced00441...
16,Olio,£23.88,One,../media/cache/55/33/553310a7162dfbc2c6d19a84d...
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,One,../media/cache/09/a3/09a3aef48557576e1a85ba7ef...
18,Libertarianism for Beginners,£51.33,Two,../media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52...
19,It's Only the Himalayas,£45.17,Two,../media/cache/27/a5/27a53d0bb95bdd88288eaf66c...

## Problem 8
Notice that there are many pages to http://books.toscrape.com/. When you click on “Next” in the bottom-right corner of the screen, it takes you to http://books.toscrape.com/catalogue/page-2.html. The front page is the same as http://books.toscrape.com/catalogue/page-1.html, and there are 50 total pages.

Write a loop that uses the function you wrote in question 7 to scrape each of the 50 pages, and append each of these data frames together. If you write this loop correctly, your dataframe will have 1000 rows (20 books on each of the 50 pages). 

Some hints:

* Typing `new_df = pd.DataFrame()` with nothing in the parentheses will create an empty data frame on which new data can be appended.

* There are many loops you can use, but the most straightforward one is a for-values loop that counts from 1 to 50. In Python, you can initialize such a loop with for i in range(1, 51):, and indenting every line below it that belongs inside the loop. Inside the loop, the letter i is now a stand-in for the number currently being considered.

* You will need to figure out how to replace the number in URLs like http://books.toscrape.com/catalogue/page-2.html with the number currently under consideration in the loop. You might need the `str()` function, which turns numeric values into strings.

[3 points]

In [65]:
new_df = pd.DataFrame()

In [66]:
for i in range(1, 51):
    url = f'http://books.toscrape.com/catalogue/page-{i}.html'
    page_df = scrape_book_info(url)
    new_df = pd.concat([new_df, page_df], ignore_index=True)

new_df

,Title,Price,Star Rating,Cover Image URL
0,A Light in the Attic,£51.77,Three,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...
1,Tipping the Velvet,£53.74,One,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...
2,Soumission,£50.10,One,../media/cache/3e/ef/3eef99c9d9adef34639f51066...
3,Sharp Objects,£47.82,Four,../media/cache/32/51/3251cf3a3412f53f339e42cac...
4,Sapiens: A Brief History of Humankind,£54.23,Five,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,One,../media/cache/96/ee/96ee77d71a31b7694dac6855f...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,Four,../media/cache/09/7c/097cb5ecc6fb3fbe1690cf0cb...
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,Five,../media/cache/1b/5f/1b5ff86f3c75e51e24c573d3f...
998,1st to Die (Women's Murder Club #1),£53.98,One,../media/cache/2b/41/2b4161c5b72a4ae386b644682...
999,"1,000 Places to See Before You Die",£26.08,Five,../media/cache/d7/0f/d70f7edd92705c45a82118c3f...